fastapi
uvicorn[standard]
pydantic
python-dotenv

yt-dlp
youtube-transcript-api
openai-whisper

chromadb
sentence-transformers

langchain
langchain-core
langchain-community
langchain-groq
groq

numpy
torch